<!DOCTYPE html>
<html>
  <head>
    {{- if .IsHome -}}
      {{- $.Scratch.Add "title" .Site.Title -}}
    {{- else -}}
      {{- $.Scratch.Add "title" .Title }}{{ $.Scratch.Add "title" " - " }}{{ $.Scratch.Add "title" .Site.Title -}}
    {{- end -}}

    {{- if .IsPage -}}
      {{- $.Scratch.Set "description" .Summary -}}
    {{- else -}}
      {{- $.Scratch.Set "description" (replaceRE "\r?\n" "" .Site.Params.subtitle) -}}
    {{- end -}}

    {{- if (isset .Params "hero") -}}
      {{- $.Scratch.Set "image" (printf "%s/%s/%s" (trim .Site.BaseURL "/") (trim .RelPermalink "/") .Params.hero) -}}
    {{- else if (isset .Site.Params "ogp") -}}
      {{- $.Scratch.Set "image" (printf "%s/%s" (trim .Site.BaseURL "/") (trim .Site.Params.ogp "/")) -}}
    {{- else -}}
      {{- $.Scratch.Set "image" "" -}}
    {{- end }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,address=no,email=no" />
    {{- if eq .Permalink "404.html" -}}
    <meta name="robots" content="noindex,nofollow">
    {{- end }}
    <meta name="description" content="{{ $.Scratch.Get "description" }}">
    <meta name="theme-color" content="#fff">
    <meta property="og:locale" content="{{ .Site.LanguageCode }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ $.Scratch.Get "title" }}">
    <meta property="og:description" content="{{ $.Scratch.Get "description" }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:image" content="{{ $.Scratch.Get "image" }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ $.Scratch.Get "description" }}">
    <meta name="twitter:title" content="{{ $.Scratch.Get "title" }}">
    <meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
    <meta name="twitter:image" content="{{ $.Scratch.Get "image" }}">
    <link rel="canonical" href="{{ .Permalink }}">
    {{- with .Site.Params.favicon -}}
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ . }}">
    {{- end -}}
    <link rel="alternate" href="{{ with .OutputFormats.Get "RSS" }}{{ .Permalink }}{{ end }}" type="application/rss+xml" title="{{ .Site.Title }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap">
    <link rel="stylesheet" href="/assets/{{ index .Site.Data.manifest "style.css" }}">
    <title>{{ block "title" . }}{{ $.Scratch.Get "title" }}{{ end }}</title>
    {{ with .Site.GoogleAnalytics -}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="//www.googletagmanager.com/gtag/js?id={{ . }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)}
      gtag('js', new Date());
      gtag('config', '{{ . }}');
    </script>
    {{- end }}
  </head>
  <body>
    {{ partial "header" . }}

    <main role="main">
      {{ block "main" . }}
      {{ end }}
    </main>

    {{ partial "footer" . }}
    <script defer src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>
    <script defer src="{{ index .Site.Data.manifest "app.js" }}"></script>
  </body>
</html>
